.navbarbg{
    background-color: orange;
}

.App{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.loginButton{
    border: 2px solid orange;
    border-radius: 10px;
}

.brandSpan, .brandIcon{
    font-size: 24px;
    padding-left: 10px;
    color: black;
}

.rightBrandSpan, .brandIcon{
    color: orange;
}
 
.sideBar{
    width: 100%;
    height: 92vh;
    text-align: center;
    padding-top: 40px;
}

.wrapper {
    position:relative;
  }
  
  .icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    box-sizing: border-box;
    top:40%;
    left: 75px;
    transform: translateY(-50%);
    color: grey;
  }
  
  .input {
    height: 40px;
    box-sizing:border-box;
    padding-left: 2rem;
    border: 2px solid grey;
    border-radius: 10px;
  }

  .box{
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
  }

  .artistImg, .artistImg1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20 20;
  }

  .artistImg1:hover{
    scale: 110%;
    transform: rotate(30deg);
    transition: all 1s ease-in-out;
    cursor: pointer;
  }

  .artistImg1:hover + .artistsName{
    scale: 110%;
    cursor: pointer;
    transition: all 1s ease-in-out;
    color: black;
  }

  .trackImg{
    width: 80px;
    height: 80px;
  }

  .artistBox {
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: linear-gradient(130deg, rgba(228,120,30,1) 0%, rgba(252,176,69,1) 49%, rgba(255,208,143,1) 100%);

  }

  .artistBox:hover {
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    scale: 105%;
    opacity: 80%;
    transition: all 1s ease-in-out;
    color: black;
  }
  .artistName{
    font-size: 36px;
    font-weight: bold;
  }


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card1 {
      display: inline-block;
}


.tracksBox{
    overflow-y: scroll;
    height: 250px;
    margin: auto;
    text-align: start;
    padding-top: 0;
    overflow-x: hidden;
}

.favList{
    height: 82vh;
    overflow-y: scroll;

}

.favoriteIcon{
    font-size: 22px;
    color: black;
    transition: all 0.5s ease-in-out;
}

.favoriteIcon:hover{
    cursor: pointer;
    scale: 105%;
    color: orange;
}

.iconBox{
    vertical-align: middle;
    font-size: 22px;
}

.trackRow{
    margin-top: 1px;
    border-bottom: 1px solid lightgrey;
}

.hrStyled{
    width: 80%;
}

.welcomeContainer{
    height: 92vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
}
.welcomeContainer:after {
    content:'';
    background: url(./assets/flame-bg.svg) no-repeat center;
    background-size: 100%;
    position: absolute;
    bottom: -100px;
    right: -250px;
    width:90%;
    height:100%;
    z-index:-1;
    opacity: 0.6;
    transform: rotate(-25deg);
}


.trackRow:hover {
    cursor: pointer;
    background-color: #ffc996;
    /* background: linear-gradient(130deg, rgba(228,120,30,1) 0%, rgba(252,176,69,1) 49%, rgba(255,208,143,1) 100%); */
    transition: all 1s ease-in-out;
    color: black;
}


a {
    text-decoration: none;
    color: black;
}

.noData{
    opacity: 50%;
    font-size: 36px;
    color: grey;
    margin-top: 25%;
}