.navbarbg{
    background-color: orange;
}

.loginButton{
    border: 2px solid orange;
    border-radius: 10px;
}

.brandSpan, .brandIcon{
    font-size: 24px;
    padding-left: 10px;
    color: black;
}

.rightBrandSpan, .brandIcon{
    color: orange;
}
 
.sideBar{
    width: 280px;
    max-width: 280px;
    height: 100vh;
}

.wrapper {
    position:relative;
  }
  
  .icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    box-sizing: border-box;
    top:40%;
    left: 10px;
    transform: translateY(-50%);
    color: grey;
  }
  
  .input {
    height: 40px;
    box-sizing:border-box;
    padding-left: 2rem;
    border: 2px solid grey;
    border-radius: 10px;
  }
